body{
    background-image: url(/img/1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height: 28vh;
    margin-bottom:100px;
    background-color: rgba(32, 34, 34, 0.516);
    -webkit-backdrop-filter: blur(10px);
}
#electrotravelsLogoDiv{
    width:15vw;
    margin-top:15px;
}
#NightXLogoDiv{
    width:35vw;
}
#NightXLogo{
    width:40vw;
    height:36vh;
}
#linksDiv{
    width:50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:13.5vh;
}
#linksDiv > div{
    margin-top:10px;
    margin-left:5px;
    margin-right:5px;
}
#linksDiv > div > a{
    font-size: 30px;
    text-decoration: none;
    font-family: 'Rammetto One', cursive;
}
#linkHome > a{
    color:white;
}
#linkBlog > a{
color:rgb(44, 124, 177);    
}
#linkMedia > a{
    color:yellow;
}
#linkBooking > a{
   color:red; 
}
#linkContact > a{
    color:rgb(110, 180, 66);
}
.outerWrapper{
    position: fixed;
    overflow: auto;
    top:31vh;
    left:0;
    right:0;
    bottom:0;
}
.wrapper{
    width:700px;
    margin:auto;
}
#div1{
    margin:auto;
    margin-bottom: 50px;
    margin-top:3vh;
    padding-top:2vh;
    padding-bottom:2vh;
    text-align: center;
    font-size: 2.5vh;
    font-family: 'Rammetto One', cursive;
    width: 100%;
    background-color: rgba(32, 34, 34, 0.516);
    color:lightgray;
    position: relative;
    z-index: 2;
    -webkit-backdrop-filter: blur(15px);
}
#div2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:auto;
    margin-top:3vh;
    padding-top:2vh;
    margin-bottom: 5vh;
    padding-bottom:2vh;
    min-height:400px;
    width: 100%;
    background-color: rgba(32, 34, 34, 0.516);
    color:lightgray;
    position: relative;
    z-index: 2;
    -webkit-backdrop-filter: blur(15px);
}
#wright{
    width:400px;
    font-size: 2vh;
    font-family: 'Rammetto One', cursive;
}

